<header class="site-header">
  <div class="wrap nav">
    <a class="brand" href="/" aria-label="Oklahoma Prospects home">
      <img
        src="/assets/prospects-p-transparent.png"
        alt=""
        width="48"
        height="54"
      />
      <span
        >OKLAHOMA PROSPECTS<small>Indoor training, Broken Arrow</small></span
      >
    </a>
    <nav id="main-navigation" aria-label="Main navigation">
      <a href="/book">Book</a>
      <a href="/training">Train</a>
      <a href="/teams">Teams</a>
      <a href="/visit">Visit</a>
      <a class="header-call" href="tel:+19189228114"
        ><span>Call</span><span>(918) 922-8114</span></a
      >
    </nav>
    <a class="mobile-header-call" href="tel:+19189228114"
      ><span>Call the desk</span><span>(918) 922-8114</span></a
    >
  </div>
</header>
